h1 {
    color: #eee;
}

.adicionarTask {
    margin: 15px 0px;
    width: 100%;
    display: flex;
}

.adicionarTask input {
    height: 40px;
    padding: 0px 10px;
    border-radius: 5px;
    border: none;
    flex: 2;
    background-color: #444;
    color: #eee;
    font-size: 16px;
}

.botaoAdicionar {
    margin-left: 10px;
    flex: 1;
}