.botao {
    border-radius: 0px 20px 20px 0px;
    border: none;
    padding: 10px;
    color: #0b1323;
    font-size: 16px;
    font-weight: 600;
    background-color: #f8f8f8;
    cursor: pointer;

    display: flex;
    align-items: center;
    column-gap: 5px;
}

.botao:active {
    transition: 0.4s;
    background-color: #c9c9c9;
    transform: scale(1.04);
}

.botao span {
    font-size: 20px;
}

@media screen and (max-width: 530px) {
    .botao {
        font-size: 10px;
        padding: 5px;
    }
}